<header class="usa-header">
	<div class="usa-navbar">
		<div class="usa-logo">
			<div class="usa-logo-text">
				<h1><b>CA</b>lerts</h1><span>Stay informed, stay safe.</span>
			</div>
		</div>
		<div class="usa-nav-secondary">
			<a role="button" class="btn btn-secondary-action-white" href="#">Sign in</a>
		</div>
	</div>
</header>
