<fieldset>
<legend>Legend title</legend>

<ul>
<li><label class="input-group"><input type="radio" name="interacting-group"> Item one</label></li>
<li><label class="input-group"><input type="radio" name="interacting-group"> Item two</label></li>
<li><label class="input-group"><input type="radio" name="interacting-group"> Item Three</label></li>
</ul>

</fieldset>

<div class="actions">

  {{> atoms-button-primary }}

</div>
