<div class="text">
  <ol>
    <li>List item</li>
    <li>List item</li>
    <li>
      List item
      <ol>
        <li>List item nested</li>
        <li>List item nested</li>
      </ol>
    </li>
    <li>List item</li>
  </ol>
</div>