<fieldset>
<legend><h2>Sign up</h2></legend>

<div>
	{{> atoms-label }}
	{{> atoms-input }}
</div>

<div>
	<label for="label-id">Password</label>
	<input type="password" class="form-control" aria-describedby="label-id">
</div>

<div>
	<label for="label-id">Confirm password</label>
	<input type="password" class="form-control" aria-describedby="label-id">
</div>

</fieldset>

<div class="actions">

  {{> atoms-button-primary }}

</div>
