<div class="text">
	<ul>
		<li>List item</li>
		<li>List item</li>
		<li>
			List item
			<ul>
				<li>List item nested</li>
				<li>List item nested</li>
			</ul>
		</li>
		<li>List item</li>
	</ul>
</div>
