<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #112E51;"></span>
		<span class="sg-label">Primary blue: #112E51</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0071BC;"></span>
		<span class="sg-label">Secondary blue: #0071BC</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #8BA6CA;"></span>
		<span class="sg-label">Tertiary blue: #8BA6CA</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E31C3D;"></span>
		<span class="sg-label">Primary red: #E31C3D</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FDB81E;"></span>
		<span class="sg-label">Primary yellow: #FDB81E</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFFFFF;"></span>
		<span class="sg-label">White: #FFFFFF</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4AA564;"></span>
		<span class="sg-label">Primary green: #4AA564</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #94BFA2;"></span>
		<span class="sg-label">Secondary green: #94BFA2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #02BFE7;"></span>
		<span class="sg-label">Alt blue: #02BFE7</span>
	</li>
</ul>
