<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #1F425E;"></span>
		<span class="sg-label">Primary blue: #1F425E</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #006693;"></span>
		<span class="sg-label">Secondary blue: #006693</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #02BFE7;"></span>
		<span class="sg-label">Tertiary blue: #02BFE7</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #CFE2EB;"></span>
		<span class="sg-label">Alt blue: #CFE2EB</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fff;"></span>
		<span class="sg-label">White: #fff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #12890e;"></span>
		<span class="sg-label">Primary green: #12890e</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E1D515;"></span>
		<span class="sg-label">Primary yellow: #E1D515</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E59710;"></span>
		<span class="sg-label">Primary orange: #E59710</span>
	</li>
		<li>
		<span class="sg-swatch" style="background: #CD4220;"></span>
		<span class="sg-label">Error state: #CD4220</span>
	</li>
		<li>
		<span class="sg-swatch" style="background: #48A463;"></span>
		<span class="sg-label">Success state: #48A463</span>
	</li>
</ul>
