/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */

 body {
   font-family: 'Source Sans Pro', sans-serif;
   -webkit-font-smoothing: antialiased;
 }

  .sans {
    font-family: 'Source Sans Pro', sans-serif;
  }



  .serif {
    font-family: 'Bitter', serif;
  }



#sg-patterns {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  max-width: 100%;
  padding: 0 0.5em;
}

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.sg-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.sg-colors li {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 0.3em;
  margin: 0 0.5em 0.5em 0;
  min-width: 5em;
  max-width: 14em;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.sg-swatch {
  display: block;
  height: 4em;
  margin-bottom: 0.3em;
  border-radius: 5px;
}

.sg-label {
  font-size: 90%;
  line-height: 1;
}

legend {
  font-size: 20px;
  font-family: 'Source Sans Pro';
}


input[type="text"].big, input[type="textarea"].big {
    height: 4.7rem;
}

input[type="text"], input[type="textarea"], input[type="password"], textarea {
    padding: 10px 12px;
    font-size: 17px;
    font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
    height: auto;
    border: 1px solid #5b616b;
    width: 100%;
    margin: 0 0 2em 0;
    max-width: 24em;
}

input:focus {
  box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
  }


/ Buttons

.actions {
  margin: 2em 0;
  &.slim {
    margin: 1em 0;
  }
}

button {
  border-radius: 0 !important;
  -webkit-appearance: none;

}

.button-wrapper-dark {
  background: #000000;
}

.btn {
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  border-radius: 3px;
  border: none;
  padding: 8px 16px;
  margin: .5em .5em .5em 0;
  opacity: 1;
  font-weight: bold !important;
  line-height: 1;
  text-decoration: none;
}

.btn:hover {
    cursor: pointer;
}

.btn.btn-full {
    width: 100% !important;
    text-align: center;
    display: block;
}


.btn.btn-menu {
    background: none !important;
    color: #fff;
}

.btn.btn-menu:hover {
  color: #fff;
}

.btn.btn-full {
    width: 100%;
    display: block;
}

.btn.btn-primary-action {
    background: #0071BC !important;
    color: #fff;
    opacity: 1;
}

.btn.btn-primary-action:hover {background: #205491 !important;}


.btn.btn-secondary-action {
    background: #FFFFFF;
    box-shadow: inset 0 0 0 2px #0071bc;
    color: #0071BC;
    opacity: 1;
}

.btn.btn-secondary-action:hover {background: #FFFFF !important; color: #205491; box-shadow: inset 0 0 0 2px #205491;}

.btn.btn-secondary-action-white {
    background: none;
    box-shadow: inset 0 0 0 2px #FFFFFF;
    color: #FFFFFF;
    opacity: 1;
}

.btn.btn-secondary-action-white:hover {background: none !important; color: #FFFFF; box-shadow: inset 0 0 0 2px #FFFFF;}

.btn.btn-tertiary-action {
    background: #E31C3D !important;
    color: #fff;
    opacity: 1;
}

.btn.btn-tertiary-action:hover {background: #CD2028 !important;}

.btn.btn-clear {
    text-decoration: underline;
    color: #006693;
}

label.input-group {
    padding: 0;
    display: block;
    margin: 0 0 .5em 0;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    clear: both;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
    min-width: 0;
    clear: both;
}

fieldset legend {
  padding: .5em 0 .5em 0;
}

fieldset ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

fieldset ul li {
    list-style-type: none;
    list-style: none;
}

fieldset label.input-group {
    display: block;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}


label {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 17px;
}

blockquote {
  border-left: 3px solid #1F425E;
  margin-left: 0;
  padding-left: 1em;
}

.band {
    padding: .5em 0 .5em 0;
}

.band.top {
    background: #fff;
}

.band h2, .band h3, .band h4, .band h5, .band h6 {
    color: #1F425E;
    line-height: 1.4em;
    padding: 0;
    margin: 0;
}

p {
    margin: 0 0 10px;
    font-size:17px;
    line-height: 1.5;
    max-width: 48em;
}

a {
  color: #0071bc;
}

a:hover {
  color: #205493;
}

.actions {
    clear: both;
    margin: 2em 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
