<div class="band top">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="sans">Band headline</h2>
        <p>Band text</p>
      </div>
    </div>
  </div>
</div>
