// Color variables

$primary-color: #0071BC;
$secondary-color: #F9C642;
$tertiary-color: #112E51;
$white: #fff;
$alt-background: #D6D7D9;
$color-gray-lightest: #f1f1f1;
$color-gray-dark: #323a45;


.auto-clear::after {
    content: "";
    display: block;
    clear: both;
}

html {
  height: 100%;
  background: $tertiary-color;
}


body {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', helvetica, sans-serif;
  }
}


// Forms

form.alt-signup {
  background: $alt-background !important;
  padding: 1em 1em;
  label:first-of-type {
    margin-top: 0;
  }
}

form.usa-form {
  max-width: 100% !important;
}

.sr-only {
  display: inline-block;
  text-indent: -9999em;
  height: 1px;
  overflow: hidden;
}

.usa-hero {
  &.calerts {
    background: none;
    background: url(../img/cabackground.jpg) center center no-repeat;
    background-size: cover;
    padding: 4em 0;
  }
}

.usa-navbar {
  min-height: 8rem !important;
}

.usa-logo {
  margin-top:1rem;
  em.usa-logo-text {
    font-size: 4rem;
    font-weight: normal;
    line-height: 1;
    b {font-weight: 700;}
  }
  span {
    display: block;
    font-size: 1.5rem;
    font-weight: normal;
  }
}

.usa-menu-btn {
  margin-top: 2rem !important;
}

.usa-nav-secondary {
  padding: 0;
  margin: 0;
  top: -5em !important;
  height: 5rem;
  line-height: 5rem;
  .usa-button-outline {
    border: 2px solid #fff !important;
  }
}


.usa-button-outline {
  background: transparent !important;
  color: $primary-color !important;
}

.usa-hero-callout-alt {
  color: $primary-color !important;
}

.usa-header {
  background: $primary-color;
  color: $white;
  border-bottom: 2px solid $secondary-color !important;
  h1, h2, h3, h4, h5, h6, a {
    color: $white !important;
  }
}

.usa-grid {
  h2, h3 {
    color: $primary-color !important;
  }
}

footer .usa-footer-secondary_section {

  a.usa-link-facebook {
    color: $white !important;
  }

  background: $tertiary-color !important;
  h1, h2, h3, h4, h5, h6, a, p {
    color: $white !important;
  }
  padding-top: 0!important;
}

// Dashboard

.ca-dashboard-nav {
  padding: 0;
  .dashboard-card {
    background: $color-gray-lightest;
    padding: 2rem;
    margin-bottom: 2rem;
    min-height:12rem;
    a {
      text-decoration: none;
    }
    h3 {
      margin: 0;
    }
    p {
      color: $color-gray-dark;
      margin: 0;
    }
  }
}